@media screen and (min-width : 1024px){
    body {
        padding: 2rem 5rem;
    }
}
@media screen and (max-width : 1023px){
    body {
        padding: 2rem;
    }
}

:root {
    --bg-color: #0d1117;
    --secondary-color: #30363d;
    --secondary-color-muted: #30363d80;
    --modal-bg-color: #1d1f21;
    --txt-color: #c9d1d9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

@font-face {
    font-family: Genshin;
    src: url('fonts/genshin.woff2') format('woff2'),
        url('fonts/genshin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.gi-font {
    font-family: Genshin, Arial, Helvetica, sans-serif;
}

h2, th, td, .label-column {
    font-family: Genshin, Arial, Helvetica, sans-serif;
}

h2, th, .label-column {
    text-align: center;
}

th, .label-column {
    background-color: var(--secondary-color);
}
.totals-cells {
    background-color: var(--secondary-color-muted);
}

section {
    margin: 5rem 0 1rem 0;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
    padding: 0.5rem;
    white-space: nowrap;
}

.tooltip {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 3px 0;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.tooltip .tooltip-text {
    /* Position */
    top: 105%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
    /* Appearance */
    width: 120px;
    background-color: var(--secondary-color);
    color: var(--txt-color);
    text-align: center;
    border: 1px solid var(--txt-color);
    padding: 5px 0;
    border-radius: 6px;
    /* Transition */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text,
.tooltip:active .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.center {
    text-align: center;
}

.text-unknown {
    color: grey;
}

.character-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.character-links > span {
    padding-left: 5px;
}

.clickable:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}
.el-anemo     { color: #74c2a8; }
.el-geo       { color: #fab632; }
.el-electro   { color: #af8ec1; }
.el-dendro    { color: #a5c83b; }
.el-hydro     { color: #4cc2f1; }
.el-pyro      { color: #ef7938; }
.el-cryo      { color: #9fd6e3; }
.el-unknown   { color: grey; }

/* Remove borders for the "totals" cells */
.transparent-r {
    border-right: 1px solid transparent;
}
.transparent-rb {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.transparent-b {
    border-bottom: 1px solid transparent;
}

.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    font-size: 10px;
    font-style: italic;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: var(--modal-bg-color);
    padding: 2rem 0;
    width: 100%;
}
.modal-content-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.modal-content .label-column {
    width: 20%;
}

.modal-footer {
    font-family: Genshin, Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: 24px;
    padding-top: 20px;
    padding-right: 2.5%;
}

a:link, a:visited {
    color: var(--txt-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}
